#sender {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 15px;
  background-color: lawngreen;
  color: #fff;
  border-style: none;
  position: relative;
  top: -1em;
}

#sender:hover {
  background-color: rgb(9, 107, 9);
  color: #fff;
}  
#about {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 15px;
  background-color: lawngreen;
  color: #fff;
  border-style: none;
  position: relative;
  top: -1em;
}

#about:hover {
  background-color: rgb(9, 107, 9);
  color: #fff;
}  

.messagesContainer {
  margin: 30 auto;
  width: 95%;
  height: 85%;
  max-width: 1300px;
  padding: 1em;
  border: 1px solid #CCC;
  background-color: rgb(8, 150, 245);
  overflow-y: scroll;
  overflow-x: hidden;
}

div{
  font-family: 'monospace';
}

.page {
  width: 100%;
  margin: 0%;
}

.row {
  border-radius: 3em;
  background-color:white;
  align-content: center;
  position: relative;
  display: block;
  margin: 1.5em 15px 1.5em 0;
  padding: 7px 20px;
  max-width: 60%;
  font-size: 16px;
  top:-1em;
  left:1%;
}
.row:before {
  content: "";
  position: absolute;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid white;
  z-index: 0;
  transform: rotate(-45deg);
}

.time {
  box-sizing: border-box;
  position: relative;
  text-align: right;
  right: 35%;
  color:gainsboro;
  top: -2em;
}

.user {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  position: relative;
  left: 1%;
  top:-15px;
  color:gainsboro;
}
.userImg {
  display: inline-block;
  width:40px;
  height:40px;
  border-radius: 20em;
  background: radial-gradient(rgb(91, 168, 231),#fff);
}

.mineRow {
  border-radius: 3em;
  background-color :rgba(126, 252, 0);
  align-content: center;
  position: relative;
  left: 30%;
  margin: 1.5em 15px 1.5em 0;
  /* display: inline-block; */
  padding: 7px 25px;
  max-width: 100%;
  font-size: 16px;
}
.mineRow:before {
  content: "";
  position: absolute;
  left: 90%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid  rgba(126, 252, 0);
  z-index: 0;
  transform: rotate(45deg);
}

.mineTime {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  left: 30%;
  color:gainsboro;
  top: -1em;
}
.mineUser {
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  position: relative;
  text-align: right;
  color:gainsboro;
  left: 20%
}
.mineUserImg {
  display: inline-block;
  width:40px;
  height:40px;
  border-radius: 20em;
  position: relative;
  top: 0.5em;
  left: 22%;
}

.message {
  display: inline-block;
  box-sizing: border-box;
  word-wrap:normal;
}

.textBox{
  display: inline-block;
  height:5em;
  resize: none;
  width: 50%;
}


form{
  text-align:center;
}

.textAria{
  margin-top: 10%;
  position: relative;
  display: inline-block;
  width: 50%;
  left:25%;
}
